In [62]:
import pandas
import configparser
import psycopg2

In [63]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [64]:
conn = psycopg2.connect(host = host,
                       user = user,
                       password = pwd,
                       dbname = db
                       )

In [65]:
sql = """ select * from student
        """

In [66]:
df = pandas.read_sql_query(sql, conn)
df[:10]

/tmp/ipykernel_8469/647199877.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

      s_email s_name major
0  s1@jmu.edu     s1    IA
1  s2@jmu.edu     s2    IA
2  s3@jmu.edu     s3  ISAT
3  s4@jmu.edu     s4  ISAT

In [67]:
cur = conn.cursor()

In [68]:
sql = """ Insert into students(s_email, s_name, major)
        values( '{}','{}','{}')
        """.format('s5@jmu.edu','s5','IA')

print(sql)

 Insert into students(s_email, s_name, major)
        values( 's5@jmu.edu','s5','IA')

In [72]:
cur.execute(sql);

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [73]:
conn.commit()

In [ ]:
cur.close()

In [ ]:
conn.close()